.para
{
    color: palevioletred;
}
.huge
{
    background-color: rgb(233, 16, 88);
}
#hello
{
    font-size:50px;
    background-color: rgb(21, 20, 20);
}
a{
    height: 20px;
    width: 40px;
    background-color: blu;
    border: 1cm;
}

/*calc*/
button {
    background-color: rgb(173, 112, 216); 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  body {
padding-top: 5%;
  }